.bottom-buffer-20 {
    margin-bottom: 20px;
}

.fixed-width-65 {
    width: 65%;
    margin: 20px auto 15px;
}

#rating-block{
    width: 100px;
    height: 50px;
}

.center-something{
    margin-left: auto;
    margin-right: auto;
}

.wrap-content{
    display: inline-block;
}

.top-buffer-10{
    margin-top: 10px;
}

.success-color{
    color: #ffffff;
    background-color: #18bc9c;
}

.full-width{
    width: 100%;
}

.popover{
    width: 300%; /* Max Width of the popover (depending on the container!) */
}

#loggedin{
    color: white;
}

.dropdown-toggle{
    padding: 8px;
}

#be_registered{
    width: 214px;
}